*{ /*properties for everything*/
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{ /* "getChar" header at the top*/
    text-align:center;
    width:100%;
    background-color:rgb(138, 178, 219);
    padding:20px;
    color: #fff;
    font-family:'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

.banner{ /*putting gradient over bg image*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(MUbg.jpg);
    background-size: cover;
    background-position: center;
}

.content { /*editing all of center content*/
    width: 50%;
    position:absolute;
    top: 50%;
    text-align: center;
    color: #fff;
    align-items: center;
}

.content a{ /*editing "LOGIN" link in content*/
    width: 10px;
    position:absolute;
    transform: translateX(100%);
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.content h1{ /*editing "Welcome to getChar" in content*/
    font-size: 35px;
    margin-top: 60px;
    margin-left: 50%;   
}
.content p{ /*editing "please login first..." in content*/
    transform: translateX(50%);
    font-weight: 100;
    line-height: 15px;
}

.content a{ 
    width: 90%;
    margin: auto;
    padding: 35px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.content::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: 0.5s;
}
.content:hover::after{ 
    width: 10%;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: rgb(76, 67, 210);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}